/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* STYLES */
body {
  background-color: #2f4f30;
}

.tittle-container {
  background-color: black;
  color: white;
  font-size: 2rem;
}

.buttons-container button {
  color: white;
  font-size: 1.5rem;
}

.player-game,
.pc-game {
  color: white;
  height: 30rem;
}

.card {
  width: 15rem;
  height: 25rem;
  border-radius: 1rem;
  display: inline-block;
  margin-left: -8rem;

  position: relative;
  left: 8rem;
  cursor: pointer;
}
